<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Luís Clício" />
    <meta name="description" content="Save your links" />
    <meta name="keywords" content="save, links, link" />
    <meta name="theme-color" content="#dee4e8" />
    <meta name="msapplication-navbutton-color" content="#dee4e8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#dee4e8" />
    <title>SaveYourLinks | DarkTechLC</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <main>
      <header>
        <form action="/search" method="get" class="search">
          <button type="submit" class="button-left">
            <img src="/assets/search.svg" alt="Search links" />
          </button>

          <input
            type="search"
            placeholder="Search links..."
            name="keywords"
            class="input-left"
            required
          />
        </form>

        <img
          src="/assets/logo.svg"
          alt="Logomarca SaveYourLinks"
          class="logo"
        />

        <form action="/" method="post" class="add-link">
          <input
            type="url"
            placeholder="Add link..."
            name="url"
            class="input-right"
            required
          />

          <button type="submit" class="button-right">
            <img src="/assets/plus.svg" alt="Add link" />
          </button>
        </form>
      </header>

      <ul class="links">
        <% rows.forEach((row) => { %>
        <li class="link" data-id="<%= row.id %>">
          <a href="/delete/<%= row.id %>" class="button-delete">
            <img src="/assets/trash.svg" alt="" />
          </a>

          <a
            href="<%= row.url %>"
            target="_blank"
            rel="noopener noreferrer"
            class="title"
          >
            <%= row.title %>
          </a>

          <% if (row.description) { %>
          <p class="description">
            <%= row.description %>
          </p>
          <% } %>
        </li>
        <% }); %>

        <!-- <li class="link">
          <button class="button-delete">
            <img src="/assets/trash.svg" alt="" />
          </button>
          <a href="#" class="title">DarkTechLC</a>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            corrupti eaque architecto quae omnis nam dolor soluta ipsam
            accusantium nihil earum quo beatae, ratione voluptas et repellendus
            deserunt minus totam.
          </p>
        </li> -->
      </ul>
    </main>
    <footer>
      <p>
        SaveYourLinks by
        <a
          href="https://darktechlc.github.io"
          target="_blank"
          rel="noopener noreferrer"
          >DarkTechLC</a
        >
      </p>
    </footer>
  </body>
</html>
