<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Luís Clício" />
    <meta name="description" content="Save your links" />
    <meta name="keywords" content="save, links, link" />
    <meta name="theme-color" content="#dee4e8" />
    <meta name="msapplication-navbutton-color" content="#dee4e8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#dee4e8" />
    <title>SaveYourLinks | DarkTechLC</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <main>
      <header>
        <form action="/search" method="get" class="search">
          <button type="submit" class="button-left">
            <img src="/assets/search.svg" alt="Search links" />
          </button>

          <input
            type="search"
            placeholder="Search links..."
            name="keywords"
            class="input-left"
            value="<%= keywords %>"
            required
          />
        </form>

        <img
          src="/assets/logo.svg"
          alt="Logomarca SaveYourLinks"
          class="logo"
        />

        <a href="/" class="button-back">
          <img src="/assets/arrow-left.svg" alt="Button back" />
          <span>Back to home</span>
        </a>
      </header>

      <ul class="links">
        <% rows.forEach((row) => { %>
        <li class="link" data-id="<%= row.id %>">
          <a href="/delete/<%= row.id %>" class="button-delete">
            <img src="/assets/trash.svg" alt="" />
          </a>

          <a
            href="<%= row.url %>"
            target="_blank"
            rel="noopener noreferrer"
            class="title"
          >
            <%= row.title %>
          </a>

          <% if (row.description) { %>
          <p class="description">
            <%= row.description %>
          </p>
          <% } %>
        </li>
        <% }); %>
      </ul>
    </main>
    <footer>
      <p>
        SaveYourLinks by
        <a
          href="https://darktechlc.github.io"
          target="_blank"
          rel="noopener noreferrer"
          >DarkTechLC</a
        >
      </p>
    </footer>
  </body>
</html>
